body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #44089B;
    height: 60px;
}
main, .content {
    margin: 0 auto;
    width: 1100px;
    position: relative;
}
.logo {
    float: left;
    width: 70%;
}
.login {
    float: right;
    width: 30%;
    margin-top: 18px;
}
.login a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 30px;
}
.login a:hover {
    color: #d8d8d8;
}
.header-2 {
    width: 1130px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 4px solid #44089B;
}
.menu ul li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-left: 8px;
    height: 48px;
}
.menu ul li:hover {
    border-bottom: 5px solid #44089B;
}
.menu ul li a:hover {
    color: #44089B;
}
.menu ul li a {
    color: #00A89A;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 32px 15px;
}

ul li.active a {
    background: #028277;
    color: #FFFFFF;
}

ul li.active a:hover {
    background: #028277;
    color: #FFFFFF;
}

.menu {
    width: 90%;
    float: left;
}
.busca {
    text-align: center;
    width: 10%;
    float: right;
}
.busca input {
    background-image: url('../img/icones/pesquisa.png');
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #A6A6A6;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    cursor: pointer;
    font-size: 0px;
    border: none;
    width: 100px;
    height: 500px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/icones/arrow-left.png);
    background-repeat: no-repeat;
    top: 45%;
    left: 2%;
}

button.slick-next {
    cursor: pointer;
    font-size: 0px;
    border: none;
    width: 100px;
    height: 500px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/icones/arrow-right.png);
    background-repeat: no-repeat;
    top: 45%;
    right: 2%;
}

.slick-list {
    width: 100%!important;
}

/* para assumir o espaçamento da tela toda e diminuir a barra do scroll*/
.slick-initialized {
    overflow: hidden;
}

/* edição dos botões inferiores ao slide*/
.slick-dots li button {
    font-size: 0px;
    border: 4px solid #44089B;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

/* para remover a margem dos botões inferiores do slide*/
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 47%;
    top: 600px;
}

/* a cor do botão inferior ao slide selecionado*/
li.slick-active button {
    background: #028277;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.texto-destaque {
    font-family: Arial, Helvetica, sans-serif;
}

.texto-destaque strong {
    color: #FFB900;
}

.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #44089B;
    text-align: center;
}

.texto-destaque p {
    font-size: 15px;
    color: #028277;
}

.col-3 {
    color: #44089B;
    padding-left: 10px;
    padding-right: 13px;
    width: 29%;
    float: left;
    position: relative;
}

.col-2 {
    cursor: pointer;
    color: #44089B;
    text-align: center;
    padding-left: 30px;
    padding-right: 13px;
    width: 29%;
    float: left;
    position: relative;
}

.col-2 img:hover {
    margin-top: 10px!important;
    position: relative;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
    height: 340px;
    background-color: #e0ecff;
    border: 1px solid #84adeb;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}

.bloco-imagem b {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #082f69;
}

.bloco-imagem p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d4599;
}

.bloco-imagem a {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #082f69;
}

.bloco-texto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
}

.bloco-imagens-texto {
    background-color: #C1DAFF;
}

.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #FFFFFF;
    background-image: url('../img/icones/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 50px;
    background: #C1DAFF;
}

.col-4 {
    float: left;
    width: 25%;
    height: 25%;
}

.col-4 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.col-4 img{
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
}

.bloco-logos {
    height: 110px;
    margin-top: 5px;
    padding-left: 40px;
}

.footer h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.footer {
    background-color: #44089B;
    color: #ffffff;
    padding-left: 40px;
    padding-right: 13px;
}

.footer-2 {
    background-color: #230353;
    color: #ffffff;
    height: 70px;
    text-align: center;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 85%;
    text-align: left;
}

.footer-2 p {
    padding: 5px;
}

.email:before {
    font-family: Arial, Helvetica, sans-serif;
    content: '';
    width: 20px;
    height: 24px;
    display: inline-block;
    background-image: url('../img/icones/email.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
